// Load Google Fonts

@import url();

$font-main: ;

// Set Color Palette Variables
$light-teal:        #00C1B9;
$dark-blue:         #2C1449;
$blue-magenta:		#4D1598;
$medium-violet:     #CB20CB;
$white:				#fff;
$grey:				#B1B1B1;


//breakpoints

$small:		450px;
$medium:	760px;
$large:		1200px;
